include
__pycache__
bin
lib
share
include
.idea
.idea/*
pip-selfcheck.json
.Python
Website/downloads
Neural Network/1_dataset train
Neural Network/2_dataset test
Neural Network/3_preprocessed_1_dataset train
Neural Network/3_preprocessed_2_dataset test
Neural Network/old out dataset

Neural Network/Graph
*.aux
*.log
*.gz
